<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<script src="http://antenna.io/demo/jquery-bar-rating/jquery.barrating.js"></script>
<link href="http://antenna.io/demo/jquery-bar-rating/dist/themes/fontawesome-stars.css" rel="stylesheet"/>

<div class="container mt-4">
    <div class="row my-2">
        <div class="col-md-4">
            <div class="sticky-top">
                <div class="container py-0 px-2" id="sortAndFilterContainer">
                    <div class="row justify-content-center align-items-center">
                        <div class="col p-0">
                        Filter tasks by:
                        </div>
                        <div class="w-100"></div>
                        <div class="col form-group p-0 ml-3">
                            <div class="row d-flex justify-content-between">
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="status=all" name="filterRadio" class="custom-control-input sortAndFilter labelAll" checked>
                                    <label class="custom-control-label" for="status=all">All</label>
                                </div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="status=completed" name="filterRadio" class="custom-control-input sortAndFilter labelCompleted">
                                    <label class="custom-control-label" for="status=completed">Completed</label>
                                </div>
                                <div class="w-100"></div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="status=deleted" name="filterRadio" class="custom-control-input sortAndFilter labelDeleted">
                                    <label class="custom-control-label" for="status=deleted">Deleted</label>
                                </div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="status=private" name="filterRadio" class="custom-control-input sortAndFilter labelDeleted">
                                    <label class="custom-control-label" for="status=private">Only yours</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col p-0">
                            <select class="custom-select sortAndFilter" id="filterSelect">
                                <option value="user=all" selected>All</option>
                                <% teammates.forEach(function (teammate) { %>
                                    <option value="user=<%= teammate.id %>"><%= teammate.name%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
            
                    <div class="row justify-content-center align-items-center my-4">
                        <div class="form-group p-0">
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    Sort tasks by:
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    Date:
                                </div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="sort=date&order=ASC" name="sortRadio" class="custom-control-input sortAndFilter labelDateAscending" checked>
                                    <label class="custom-control-label" for="sort=date&order=ASC">Ascending</label>
                                </div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="sort=date&order=DESC" name="sortRadio" class="custom-control-input sortAndFilter labelDateDescending">
                                    <label class="custom-control-label" for="sort=date&order=DESC">Descending</label>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    Title:
                                </div>
                                <div class="col custom-control custom-radio">                    
                                    <input type="radio" id="sort=title&order=ASC" name="sortRadio" class="custom-control-input sortAndFilter labelTitleAscending">
                                    <label class="custom-control-label" for="sort=title&order=ASC">Ascending</label>
                                </div>
                                <div class="col custom-control custom-radio">
                                    <input type="radio" id="sort=title&order=DESC" name="sortRadio" class="custom-control-input sortAndFilter labelTitleDescending">
                                    <label class="custom-control-label" for="sort=title&order=DESC">Descending</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-4">
            <div class="container" id="archiveTasksView">
                
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<script src="../../js/jquery.js"></script>
<script src="../../js/scriptsArchiveTasks.js"></script>
    