<% include partials/head.ejs %>
<div class="continer d-flex justify-content-center align-items-center p-4">
    <div class="jumbotron bg-white shadow m-4" style="max-width: 500px;">
        <div>
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="text-secondary">Sorry, an error has occured, Requested page not found!</div>
            <hr class="my-4">
            <div class="d-flex justify-content-center bd-highlight text-center">
                <button class="btn btn-danger mr-2" onclick="location.href='start'">Take Me Home</button>
            </div>
        </div>
    </div>
    <img src="img/curves.png" alt="curves" style="background-attachment: fixed; user-select: none; position: absolute; z-index: -1; top: 25px; min-width: 100%; max-width: 100%; height: auto;">
</div>
<% include partials/footer.ejs %>